[2012-05-21 06:35] borischen opened #1 "build scripts - rename shep to shuttl"

[2012-05-21 06:35] borischen opened #2 "java packages rename - shep to shuttl"

[2012-05-21 06:36] borischen opened #3 "remove map reduce api classes"

[2012-05-21 06:36] borischen opened #4 "remove hive related code"

[2012-05-21 06:36] borischen opened #5 "rename app from shep to shuttl"

[2012-05-21 06:36] borischen opened #6 "remove s2s code"

[2012-05-21 06:36] borischen opened #7 "remove code for search based transfers"

[2012-05-21 06:38] borischen opened #8 "rewrite README file"

[2012-05-21 06:38] borischen opened #9 "audit all code to make sure Apache License boilerplate is applied"

[2012-05-21 15:51] petterik commented on #3
I believe this is done now. Closing.

[2012-05-21 15:51] #3 closed, assigned to petterik

[2012-05-21 15:58] petterik commented on #6
The CLI code is dependent on the s2s sink code.
Ok to remove the CLI code as well?

[2012-05-21 16:13] petterik opened #10 "csv thawing"
Buckets can be archived in csv format, but the archived csv files cannot be thawed back to buckets.

Implement the thawing of archived buckets in csv format.

[2012-05-21 16:14] petterik commented on #10
I'm working on this and it's already partly implemented.

[2012-05-21 16:16] petterik commented on #7
Is this the custom search command and the "exporter" which lives at https://github.com/splunk/splunk-shuttl/tree/develop/src/java/com/splunk/shep/exporter ?

I'll remove them once I get a confirmation.

[2012-05-21 16:18] petterik opened #11 "BucketArchiverRest cleaning"
The BucketArchiverRest class is too big and does too much.

Make sure all of this is tested and break it into smaller classes and methods.

[2012-05-21 16:28] petterik opened #12 "Test untested code or re-implement with test first. (smaller tasks)"
The following intentions were implemented without test first and either needs re-implementation or tests.

BucketThawer:
- Instead of returning a map with <"failed", bucket> and <"thawed", bucket>, leave thawBuckets to be void. Then create getters for failed buckets and thawed buckets, that returns lists that can be iterated.

SplunkSettings:
- Test that when a splunk index does not exist, a Splun

[2012-05-21 16:42] borischen commented on #6
We can delete it if that's all the CLI is used for. Maybe in the future, it'd be good to have a CLI for all the REST endpoints for the archiver, so someone could script what is done via the UI

[2012-05-21 16:42] borischen commented on #7
ja

[2012-05-21 17:00] petterik opened #13 "Implement bucket size correctly"
Bucket size is currently implemented incorrectly.

The reason to have size of a bucket, is to know how much space the bucket will have on the local disk when the bucket is thawed.
We're currently checking how big the bucket is archived. This size is with high probability wrong, because of compressions and the real archived format.
We should instead check the size of the bucket before it is archive

[2012-05-21 17:01] petterik opened #14 "New, lighter splunk bucket format for archiving"
We can currently only archive a whole splunk bucket with all of its metadata. This metadata can be removed from the bucket for archiving and it can be restored when it's thawed back to Splunk.

[2012-05-21 17:14] petterik opened #15 "Move archiver-UI-Debug-files to respective src and test directory"
The archiver-UI-Debug-files shouldn't live in the root of the project. However, we still want this code to exist, so we should move them somewhere.

My suggestion is, since they are "debug-files", that they are moved somewhere in the "test" directory.
We still want them to be grouped together, so they can be easily found. Since we've currently got a test/<language>/<files> structure. I'd like:
- .

[2012-05-21 17:18] petterik commented on #6
A simple CLI as a UI would be nice indeed. I'll add it as an issue and we can prioritize it later.

[2012-05-21 17:50] petterik opened #16 "Create CLI UI for archiver"
Create a command line UI that has the same functionality as the web UI in the Splunk app.

[2012-05-21 17:53] petterik opened #17 "Remove current CLI code"
Remove the unused CLI package.

[2012-05-21 18:13] petterik opened #18 "All clean-up commits go here"
This issue exists to keep an issue for every commit. All the random clean-up commits can be marked with this issue number.

A "clean-up" commit can be:
- Removed whitespace
- Formatting
- Removed old code that should already have been removed
- Moving methods in a class

Please give examples of more "clean-up" commits below. Preferably as few as possible.

[2012-05-21 19:26] petterik opened #19 "Remove all dashboards and views except the archiver"
Since all the code that has nothing to do with archiving or moving data will be gone soon, we should also remove the views and dashboards that's not the archiver.

@borischen: Can you confirm?

[2012-05-21 19:47] petterik opened #20 "Minimize ivy dependencies"
A lot of code is gone, which should mean that we're not dependent on as many libraries anymore.
Minimize the dependency list in ivy.xml

[2012-05-21 20:01] #6 closed, assigned to petterik

[2012-05-21 20:01] #4 closed, assigned to nobody

[2012-05-21 20:01] #7 closed, assigned to nobody

[2012-05-21 20:01] #17 closed, assigned to petterik

[2012-05-21 21:34] #1 closed, assigned to nobody

[2012-05-21 21:34] #2 closed, assigned to nobody

[2012-05-21 21:35] petterik commented on #5
@andreeriksson @antonjn : Can you check so that the UI survived the renaming from shep to shuttl, and then close this issue?

Thanks

[2012-05-21 22:51] borischen commented on #19
confirmed

[2012-05-22 01:02] antonjn commented on #5
it survived, some other code "broke" it though (BucketRestorer; implemented to always throwing an exception causing a thawed bucket to be seen as not thawn in the UI), did a quick fix for that.

[2012-05-22 01:59] borischen commented on #5
Awesome! Thanks!

On Mon, May 21, 2012 at 6:02 PM, Anton <
reply@reply.github.com

[2012-05-22 08:19] petterik commented on #5
Great and doh!
I'll make sure something like that can't happen again!

Closing issue

[2012-05-22 08:19] #5 closed, assigned to nobody

[2012-05-22 08:20] petterik opened #21 "Enable all functional tests"
All functiona/lintegration tests should now be enabled.
Make them run as fast as possible and preferably without having to start Hadoop.

[2012-05-22 08:22] petterik opened #22 "Git hook for running all tests before git push"
All tests should be run before a git push is done, to prevent dumb checkins like having a method always throw new UnsupportedOperationException.

[2012-05-24 11:11] #21 closed, assigned to nobody

[2012-05-24 12:46] #20 closed, assigned to nobody

[2012-05-24 13:21] petterik commented on #22
There is no pre-push git hook.
I have instead (and I recommend to) created an alias for running test-all and then git push.

alias gp="ant test-all && git push"

[2012-05-24 13:21] #22 closed, assigned to nobody

[2012-05-25 09:35] petterik commented on #9
Added Apache License to files without the license at the top of the file with:

`find src test -name "*.java" | xargs head -n 1 | grep -B 1 package | grep -o "[A-Za-z]*/.*\.java" |
while read file
do
( echo "// Copyright (C) 2011 Splunk Inc.
//
// Splunk Inc. licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// wit

[2012-05-25 09:40] #9 closed, assigned to nobody

[2012-05-25 10:39] petterik opened #23 "Eclipse classpath handle change of hadoop version"
Make it so that eclipse's .classpath can handle a change of hadoop version in default.properties/build.properties.

ivy.xml is configured by build.xml at runtime, so that we can change and test different hadoop versions more easy. Eclipse's .classpath should work in the same way.

[2012-05-25 10:58] #23 closed, assigned to nobody

[2012-05-25 10:59] petterik commented on #8
@borischen, can you add an introduction to the README.md?

[2012-05-25 12:40] petterik commented on #15
@antonjn, can you summarize what you've done, when you're done?

Thanks

[2012-05-25 16:28] borischen commented on #9
nice, maybe we should add a build target as a "test"

[2012-05-25 16:31] petterik commented on #9
Yes. That should be simple enough. Creating issue

[2012-05-25 16:32] petterik opened #24 "Automated test for making sure that all files has Apache license"
Issue #9 (https://github.com/splunk/splunk-shuttl/issues/9) should be automated. Meaning that there should be a test for verifying that all classes has an Apache license.

[2012-05-28 16:40] petterik commented on #15
Well no. Your commits already do that! Closing issue

[2012-05-28 16:41] #15 closed, assigned to antonjn

[2012-05-28 20:48] petterik opened #25 "Support multiple parallel thaw requests"
Buckets that are already thawed should not be thawed again.

Todo:
- Check if a bucket is already thawed before thawing the bucket.

[2012-05-29 20:22] petterik commented on #10
Everything works now, so I'm closing.

[2012-05-29 20:22] #10 closed, assigned to petterik

[2012-05-29 20:37] petterik opened #26 "Create end-to-end test for csv roundtrip"
Issue #10 was about creating csv import. Shuttl now have csv export and import. There should exist an end-to-end test that does both in a single test.

Implement an end-to-end test that:
1. Archives a regular bucket in csv format.
2. Thaw the archived csv bucket back to splunk bucket format.
3. Verify that the thawed bucket is equal to the starting regular bucket.

[2012-05-30 12:39] petterik commented on #11
I thought this issue was included in #12, so I've referred commits to that issue instead. Major cleaning has been done, so closing this. The creation of isolated tests will be a new issue.

[2012-05-30 12:39] #11 closed, assigned to petterik

[2012-05-30 12:41] petterik opened #27 "Create as isolated test as possible for endpoints"
Now that the endpoints are separated with #11 and #12, they should be tested in as much isolation as possible.
This might mean having to start a jetty server before testing them, and it might not.

[2012-05-30 14:39] #12 closed, assigned to petterik

[2012-05-30 17:40] petterik opened #28 "Should shuttl remove the .crc files HadoopFileSystem creates?"
Hadoop's FileSystem creates .crc files when copying a file from the file system to local filesystem (or FileSystem.copyToLocal( )).

Should shuttl care about these or is it ok if they live in the bucket's directory?

[2012-05-31 09:31] petterik opened #29 "Change file system package to be lower case"
The file system package is currently called: "fileSystem". This is a typo and it should be filesystem.

[2012-05-31 21:52] #13 closed, assigned to petterik

[2012-05-31 21:57] petterik opened #30 "Clean thawed buckets from archive metadata"
Misc files are put in the buckets when they are archived. Hadoop puts .crc files and shuttl creates a directory called archive_meta. These should be removed from the bucket when they are thawed.

Todo:
- Create class for cleaning buckets when they are thawed.

Side effect:
- This will also mean that the size of a thawed bucket can be taken from the file system. It's currently taken from the metada

[2012-06-02 05:09] borischen commented on #25
this isn't parallel requests, this is a duplicate request, no?

If there are requests in parallel, do we have some sort of lock to prevent multiple duplicate thaw requests happening concurrently?

[2012-06-03 20:46] petterik commented on #25
That's true. There's nothing checking if a bucket is already being thawed or is already thawed. Implementing this will make parallel and duplicate thaw requests.

The locking code we use for archiving can be totally reused and there's not much other code needed. If I can't get it done this week because of thesis work, I can get it done this weekend.

[2012-06-03 20:46] petterik commented on #25
New algorithm for parallel thawing:

[code]

Errors:
Transfer is interrupted:
1. Code releases thaw lock
2. Will send a notice to the client that thaw failed for that bucket.
3. Continues to thaw next bucket.
4. The interrupted bucket will still lye on the local disk, taking space.

JVM crashes or power failure:
1. Thaw lock is released because of JVM crash (there's a test for this).
2. HTTP statu

[2012-06-04 02:43] borischen commented on #25
question: what form does this lock take? if it's a 0 byte file on disk (one per bucket), then upon restart, we can assume all locks were in-transit operations, clean and restart them.

for thaw requests that fail, not due to a system crash, then having a background thread do cleanup is good. Presumably the state is that a lock is taken, but there is no pending request to fulfill it, or there's no

[2012-06-04 11:21] petterik commented on #25
The locks are a 0 byte file on disk atm and yes, all the locks that exists were in-transit operation. We can clean them upon startup of shuttl, which is better than a garbage bucket cleaner. Thanks!

In either failure case, we should clean them. But as you said, we can restart them as well. It might not be what a user expects to happen, but if we present the information (that we restarted the thaw

[2012-06-04 11:23] petterik opened #31 "Cancel thaw requests"
A user should be able to cancel a thaw request.

All buckets that has not completed the transfers should be deleted.
Buckets that has completed the transfer are not deleted.

[2012-06-04 11:26] petterik opened #32 "Delete/"flush" all thawed buckets"
All the buckets that are successfully thawed should be able to be deleted from the UI.

Do we care about the case where there are multiple users thawing to the same machine, and one user removes both users buckets?

[2012-06-05 02:54] borischen commented on #25
for now keep it simple. sufficient to clean out failed transfers. auto-resume can be a new feature. for now, user can just re-initiate a transfer

[2012-06-06 12:48] petterik opened #33 "Fix: Thaw buckets through UI"
Thawing buckets through the user interface does not work.

Did:
1. Archived a bunch of buckets.
2. Listed them and saw them in the UI.
3. Pressed the thaw button and got: "Thawed buckets: No buckets to thaw!", and there were no buckets in my thaw directory.

Expected to thaw buckets to the right thaw directory.

ping @antonjn @andreeriksson

[2012-06-06 12:49] petterik commented on #33
Thawing buckets by calling the thaw rest endpoint through curl works:
`curl -d "index=shuttl&from=2012-08-01&to=2012-09-01" http://localhost:9090/shuttl/rest/archiver/bucket/thaw`

[2012-06-09 23:04] petterik opened #34 "Extract atomic transfer from HadoopFileSystem implementation"
The atomic transfer logic currently lives in the HadoopFileSystemArchive.java

Atomic transfer is:
1. Transfer to a temporary location
2. Move transfer to "real location"

Extract this logic and add methods to the ArchiveFileSystem interface if needed.

[2012-06-09 23:39] petterik opened #35 "Change the package name of fileSystem to filesystem (lowercase)"
Package names should be lowercase.

Do:
- Change package name of fileSystem to filesystem in both src and test directory.

[2012-06-09 23:48] petterik commented on #35
Used the following shell code for "find and replace" fileSystem to filesystem in java files:
for file in $(find java -name "*.java")
do
sed -e 's/com.splunk.shuttl.archiver.fileSystem/com.splunk.shuttl.archiver.filesystem/' $file > /tmp/fileSystemfix.tmp
mv /tmp/fileSystemfix.tmp $file
done

Then I changed the directory names in both src and test.

Problems:
Eclipse had problems when I only change

[2012-06-09 23:48] #35 closed, assigned to nobody

[2012-06-10 00:47] petterik opened #36 "Create a testit.sh that tests shuttl"
Like buildit.sh, there should exist a testit.sh, which abstracts how shuttl is tested.

The script can be run by a continous integration server, and if we change how we test shuttl, we won't have to change the CI server.

[2012-06-10 00:49] petterik commented on #36
Created tests for buildit.sh and testit.sh, which tests the scripts where the PATH is setup to be without ant.

[2012-06-10 02:01] #36 closed, assigned to nobody

[2012-06-13 16:27] borischen opened #37 "instructions on setting up shuttl"
please

[2012-06-28 02:53] borischen commented on #8
all done

[2012-06-28 02:53] #8 closed, assigned to nobody

[2012-06-28 04:04] borischen commented on #37
Assume the following:
- Splunk is installed
- There is a Hadoop instance

From there, we need to tell customers
- basic app install (untar in etc/apps)
- shuttl config file edits needed (name node info, dir locations, etc.)
- splunk config edits (main parameters to control bucket rolling behavior, and calling of archive action)
- include how to config for warm->cold rolls or cold->frozen
- include

[2012-06-28 16:40] petterik commented on #25
Here's a summary of what I did:
1. Thawing thawed bucket -> Does not thaw, because when bucket is already in thawed location (back in Splunk).
2. Thawing is parallel if thawing is done by acquiring a thaw lock before the thaw transfer.
3. Transfer should be done by first transferring to a temporary location, then moving to thaw location. (Atomic transfer)
4. On start up: Remove all temporary trans

[2012-06-28 16:40] #25 closed, assigned to petterik

[2012-06-29 12:16] #19 closed, assigned to antonjn

[2012-06-29 12:16] #29 closed, assigned to nobody

[2012-06-29 12:17] petterik commented on #29
duplicate of #35

[2012-06-29 12:35] petterik opened #38 "Parallel deployment, thawing and listing"
Given n indexers and m search heads, each search head to be able to view and control the indexers.
Each indexer has shuttl setup already.

How would this work?
Comment on this issue with thoughts, discoveries, algorithms and anything else found during research of this issue.

[2012-06-29 12:52] petterik commented on #38
This endpoint lists the indexers for distributed search:
/services/search/distributed/peers

[2012-06-29 13:16] petterik commented on #38
One could parse the indexers from that endpoint, and for each indexer, call shuttl rest endpoint. Concat responses and view in some UI.
Is this the recommended way of getting indexer IPs? Is there a smoother way?

When we have the IPs to each indexer, we can get the shuttl rest endpoints by calling a "shuttl-port" end point at the indexer. When we have the IP and the shuttl-port, we can call the r

[2012-06-29 13:27] petterik commented on #38
@borischen can you ask people at Splunk corp. if there's another way of getting all the search head's indexers?

We can easily test each indexer, to see if they have shuttl installed or not. So getting all of the indexers is fine. I'm mostly wondering if looking at the indexers set up for distributed search is the way to go.
Maybe there's some other way that is more future proof or what not.

Than

[2012-06-29 18:46] borischen opened #39 "remove vestigal commands.conf"
there are some vestigal commands in commands.conf that we need to remove

[2012-06-29 18:48] borischen opened #40 "dbspecs.conf is unneeded"
I don't believe we need this file. I think it was for the sake of the hive server which we no longer use

[2012-06-29 18:49] borischen commented on #39
similarly look at searchbnf.conf file

[2012-06-29 19:51] borischen opened #41 "remove cold to frozen script using exporttool"
that's just prototype code we need to get rid of

[2012-06-29 20:30] borischen opened #42 "splunk app landing page should be a dashboard"
we should have a dashboard of activity/config including
- shuttl config values
- splunk archive configs (i.e. what indexes are being shuttled and associated values)
- archives on hdfs
- hadoop cluster url
- splunk bucket info (buckets in splunk, in hdfs, in transit)
- how many buckets move in last week, last day, last hour
- average size per bucket

[2012-06-29 20:42] borischen opened #43 "initialization checks and logging"
When Shuttl starts it should
- log if able to connect to hadoop
- log if able to access defined directories (tmp and archive destination)
- print out relevant config info, such cluster/servers configed
- what port is it listening to

When archiver runs it should
- log when it runs, with what parameters, and success/failure
- number of buckets moved
- format(s)
- destination
- size of buckets

[2012-06-30 01:33] borischen opened #44 "archiveBucket.sh is expecting 2 arguments not 1"
index=$1
bucket=$2

This is wrong, since splunk will not pass a second argument, and this results in an error.

What we should do is derive the index from the bucket path just like the sample script in coldToFrozenExample.py

[2012-06-30 01:39] borischen opened #45 "old data being indexed may be causing error"
I try indexing very old data (3+ years), and I'm getting this

06-29-2012 18:09:50.441 -0700 ERROR BucketMover - coldToFrozenScript cmd="/home/boris/hadoopish2/splunk/etc/apps/shuttl/bin/archiveBucket.sh" /home/boris/hadoopish2/splunk/var/lib/splunk/mytest/db/db_1341002607_1341001216_0 exited with non-zero status: exited with code 253

06-29-2012 18:10:15.341 -0700 INFO  BucketMover - will attempt

[2012-06-30 08:01] borischen commented on #38
http://docs.splunk.com/Documentation/Splunk/latest/RESTAPI/RESTdeploy#search.2Fdistributed.2Fpeers

[2012-06-30 16:26] petterik opened #46 "Document how to specify archive format"
Document how to configure the format of the archiving and thawing.

[2012-06-30 16:50] petterik commented on #45
@borischen can you do what you did to cause the error, again?
This time, the exit status will make sense, and we can understand if it's either of these errors:

[code]

If it's hard to re-produce, I'll get my maths straight and figure out how to get 253 from either -1, -2 or -3 in an 8bit unsigned int.

[2012-06-30 17:07] #40 closed, assigned to nobody

[2012-06-30 17:07] #41 closed, assigned to nobody

[2012-07-01 15:29] emreberge commented on #44
While Splunk only sends one argument, an other argument can be passed in the conf file.

[code]

Here index-name is the first argument, the index name, and the second argument will be passed by Splunk.

Why did we do this:
While the default configuration of the bucket path reveals the index-name the indexes.conf can be changed so that the path of the bucket is stored without the index-name being a

[2012-07-02 13:39] petterik opened #47 "Ant target to set up environment for manually testing through Splunk"
Create ant target(s) that set up Splunk and the archiver for manually tests, that goes through Splunk.

By testing through Splunk means that data is added to a Splunk index, and when the data is rolled, the data gets archived by the archiver. This could be useful for testing different configurations or even make automatic tests later.

What needs to be set up:
1. Run `ant splunk-setup`
2. Copy arc

[2012-07-02 20:47] borischen opened #48 "simultaneous csv and bucket format archiving"
we should support people being able to do both at the same time

[2012-07-02 21:01] borischen commented on #44
Okay.

The script should check for mis-configuration. It's not usual to call frozen scripts like this, and so it took me quite a while to figure out what was wrong. (at the very least, the script having comments on how to use it would be helpful)

I'll have to back out my change

[2012-07-02 21:22] petterik commented on #48
Errors:
If both doesn't succeed, we want to re-archive the failed one later.

How to do it:
Check if a bucket has already been archived by looking at the archive path. If it's in the archive path, that means that it was successfully transferred.
Only remove the bucket to be archived from local disk when all formats has been successfully archived.

[2012-07-02 21:49] petterik commented on #47
Manual testing can be done by using the ant commands:
`ant manual-test-format-splunk-bucket`
`ant manual-test-format-csv`

There's also a script that oneshots data into Splunk until interrupted at:
`splunk-shuttl/test/sh/manual-test/add-oneshot-1MB-files-to-splunk.sh`

The data is archived into `splunk-shuttl/build-cache/local_archiver`

[2012-07-02 21:49] #47 closed, assigned to nobody

[2012-07-03 01:38] borischen opened #49 "Test with FUSE"
see: http://wiki.apache.org/hadoop/MountableHDFS/

perhaps simplifies the setup of contacting the name node direct, and then could use hdfs in mounted disk mode

[2012-07-03 01:59] esatterly commented on #49
We tried this a month or so back, and it made HDFS way too slow to work with at the time. I doesn't look like any of the bugs were fixed since. You will want to be careful what this will do to your test cases.

Thanks,

Eddie Satterly
Chief Big Data Evangelist, Office of CTO
Splunk Inc.
Office: 720.432.4276
Mobile: 425.748.4276
Email:   esatterly@splunk.commailto:esatterly@splunk.com
San Francisco

[2012-07-03 06:45] borischen commented on #44
it's backed out by petter, but i think we should do better error checking

[2012-07-03 07:00] borischen commented on #49
thx, good to know

[2012-07-03 07:42] borischen commented on #44
added error checking

[2012-07-03 07:42] #44 closed, assigned to nobody

[2012-07-03 17:08] #48 closed, assigned to nobody

[2012-07-04 22:16] petterik commented on #38
What I'm thinking right now:

When either the listing or thawing endpoint is called, shuttl will act accordingly:
1. Execute the request on the node which it is installed on, as is today.
2. Execute the request for each node that is set up as a distributed search peer*.
3. Concatenate results and return to the caller of the rest endpoint.
This way, it doesn't matter for shuttl if it's installed on

[2012-07-04 22:35] borischen commented on #38
is it all or nothing? (for step 3)

[2012-07-05 01:22] borischen opened #50 "splunk tap for cascading"
see https://github.com/Cascading/maple

[2012-07-05 18:47] petterik commented on #37
Commit 8508062682bf65edd6a88f4e7d3f2871e4701834 adress everything but "include how to config for warm->cold rolls or cold->frozen"

[2012-07-05 23:58] borischen opened #51 "local tmp directory should be configurable"
The first action we perform when doing the archiving is to mv the bucket to a tmp area.

However, we assume that our tmp area is on the same device as the bucket to be moved.

We should
1) default the tmp area to be co-located with the index location (location of coldDB)
2) allow the user to configure differently, but should warn (error?) if not on same device

[2012-07-06 22:05] #51 closed, assigned to petterik

[2012-07-09 13:41] #46 closed, assigned to nobody

[2012-07-09 13:41] #45 closed, assigned to nobody

[2012-07-09 13:43] petterik commented on #37
Documentation can be seen in the README.md: https://github.com/splunk/splunk-shuttl/tree/develop#installing-the-app
@andreeriksson

[2012-07-09 13:43] #37 closed, assigned to nobody

[2012-07-11 22:46] petterik opened #52 "Remove duplication between splunk.xml and default.properties"
The package/conf/splunk.xml contains duplicated values compared to default.properties.
1. The splunk.xml should be injected with the values in default.properties.
2. The JMXSplunkForTests.java need to create a file with values from the default.properties, to act like the "real" configuration, during tests.

This is a small part of #38

[2012-07-13 00:25] petterik opened #53 "Test Amazon S3 as a file system"
Need someone to test if the archiver can be run with Amazon S3. Here's how it should be possible: http://wiki.apache.org/hadoop/AmazonS3

@antonjn, are you up for it?

[2012-07-25 00:22] borischen opened #54 "shuttl setup screen for splunk app"
create setup page for shuttl app
- imitate unix app setup
- use rest apis
- confirm shuttl configs all avail via rest apis
- confirm index cold2frozen and other values available via rest apis

[2012-07-25 00:22] borischen opened #55 "icons for splunk app"
- make sure when listing app, shuttl icon shows up
- shuttl app should have logo in the top left

[2012-07-27 00:02] antonjn commented on #55
what does "when listing app" mean? @borischen

[2012-07-27 04:31] borischen commented on #55
http://localhost:8000/en-US/app/launcher/home , click on the home tab. The icon shown is a square, so for that, I think we can just take the airplane portion, without the text

Read
http://docs.splunk.com/Documentation/Splunk/latest/Developer/PackageApp
and
http://docs.splunk.com/Documentation/Splunk/latest/Developer/ShareYourWork

[2012-08-10 17:17] #55 closed, assigned to antonjn

[2012-08-15 02:28] borischen commented on #50
this can be done once an input format has been created

[2012-08-15 02:29] borischen opened #57 "create input format class for csv data"
once this is done, we can do
- cascading https://github.com/splunk/splunk-shuttl/issues/50
- hcatalog

[2012-08-15 02:30] borischen opened #58 "create hcatalog wrapper for csv data"
can be done after https://github.com/splunk/splunk-shuttl/issues/57 is done

[2012-08-15 22:08] antonjn opened #59 "List buckets, buckets_TOTAL_SIZE, return "0 bytes" all the time"
The json-object returned by the bucket/list endpoint don't contain the correct totalt size of all buckets returned.

[2012-08-16 18:32] antonjn commented on #42
If you have not done it yet, run:

[code]

To tryout the views, run:

[code]

Generate test buckets:

[code]

[2012-08-31 04:53] borischen opened #61 "thaw screen has invalid dates for buckets"
Example

b_1333377842_1333333189_38  mytestdb    SPLUNK_BUCKET   1970-01-16  1970-01-16  151 MB  hdfs://localhost:9000/archiver_root/archive_data/mycluster/hiro/mytestdb/db_1333377842_1333333189_38/SPLUNK_BUCKET
db_1333502069_1333354200_40     mytestdb    SPLUNK_BUCKET   1970-01-16  1970-01-16  168 MB  hdfs://localhost:9000/archiver_root/archive_data/mycluster/hiro/mytestdb/db_1333502069_133335420

[2012-08-31 19:09] #59 closed, assigned to antonjn

[2012-08-31 19:49] borischen commented on #32
I think we need this before conf

To answer question:
1) for multiple users, I'd suggest holding a lock during flush, and if a flush happened, then deny the second flush, and reload the listing
2) then the person can flush based on the revised list
3) we should log the flush operations if we don't already

[2012-08-31 21:10] borischen opened #62 "have shuttl work against cdh4 or hadoop 2.0"
currently will get the following

Got a NON 200 status code!

Response header:
{'status': '500', 'content-length': '25277', 'server': 'Jetty(8.1.0.v20120127)', 'cache-control': 'must-revalidate,no-cache,no-store', 'date': 'Fri, 31 Aug 2012 20:48:42 GMT', 'content-type': 'text/html;charset=ISO-8859-1'}
Response body:
HTTP ERROR 500

Problem accessing /shuttl/rest/archiver/bucket/list. Reason:

[cod

[2012-09-01 00:33] borischen opened #63 "If unable to write to hdfs, we should have both a dashboard for such errors, and also an alert people can enable"
Sample from splunkd.log

08-31-2012 15:18:59.384 -0700 ERROR ExecProcessor - message from "/home/boris/hadoopish2/splunk/etc/apps/shuttl/bin/start.sh" 2012-08-31 15:18:59,383 ERROR com.splunk.shuttl.archiver.archive.ArchiveBucketTransferer: did="attempted to transfer bucket to archive" happened="IOException raised" expected="success" bucket="Bucket [format=SPLUNK_BUCKET, directory=/home/boris/shut

[2012-09-04 21:08] petterik commented on #42
Great work, Anton! It just works :)

[2012-09-04 21:19] petterik commented on #42
Merging and closing what's in GH-42.
@antonjn: if you want to add more stuff, create a new issue with what you're adding.

[2012-09-04 21:19] #42 closed, assigned to antonjn

[2012-09-04 22:15] petterik commented on #63
It should be viewable from dashboard /app/shuttl/failed
It seems like that dashboard is broken however.

@antonjn: I made shuttl fail but I didn't get any result of the search. I inspected the search and got results if I removed: "| search protocol=* host=* port=* indexName=* bucketType=*" from it.
The * doesn't match an event that has no value for that key. I.e indexName=* doesn't match events th

[2012-09-04 22:31] petterik commented on #62
They've changed everything!

Did a quick test with hadoop-2.0.1-alpha, but the build.xml is going to need some work.
hadoop/bin/start-all.sh doesn't exist anymore for example.

Not sure how much the build.xml would have to grow to support Hadoop versions 1, 2 and cdh4. Need to investigate!..later.

[2012-09-05 00:05] petterik commented on #53
Cannot use s3 yet, because of how bucketsize works at the moment.
The problem is that we're trying to read the size from the file on the remote file system. Instead, we need to get that file, and delete it later with s3. I will think about doing another abstraction, or just change the algorithm for getting size.

Stacktrace for the future:
java.lang.RuntimeException: java.io.FileNotFoundException:

[2012-09-05 05:22] petterik commented on #32
Restrict flushing only to indexes that are being shuttl'd.

[2012-09-05 23:10] petterik commented on #61
Commit: f27cea8e3 fixes this.
The problem was that the bucket's name contained times in seconds, and java.util.date takes milliseconds.

[2012-09-05 23:10] #61 closed, assigned to petterik

[2012-09-06 03:14] borischen opened #64 "When doing thaw operation, the UI can "return" and list a table, before the thaw action completes"
Doing an ls on the file system, I see transfers continuing, and in the UI there's partial results

[2012-09-06 03:18] borischen opened #65 "Failed Dashboard is not working - simply for now"
http://localhost:8000/en-US/app/shuttl/failed

Change this to just a simple search for error events. Leave out the fancy table rendering and filtering and forms

When done, file another issue for a future milestone to achieve the original goal

[2012-09-06 03:21] borischen commented on #39
see splunk-shuttl/package/default

[2012-09-06 03:25] borischen opened #66 "If thaw request is issued while thaw is in progress, potential spurious errors"
We already handle the case where subsequent thaw requests are issued against a time range. The second thaw request will simply get any additional files that isn't already being transferred and skip the rest. In the end, you should get everything. But, yet the UI flags the skipped buckets as failed buckets which is wrong.

[2012-09-06 03:35] borischen opened #67 "Create Quickstart guide"
how to get going with a single-node hadoop instance

[2012-09-06 03:37] borischen opened #68 "Create configuration reference guide"
Document configurations needed on Shuttl and Splunk sides

and guidance

[2012-09-07 01:50] borischen commented on #67
https://github.com/splunk/splunk-shuttl/wiki/Quickstart-Guide

[2012-09-07 01:50] #67 closed, assigned to borischen

[2012-09-07 02:01] petterik opened #69 "Dashboards are not working when doing both CSV and SplunkBucket formats."
Did: ran:
`ant manual-test-formats-splunk-bucket-and-csv`
`test/sh/manual-test/add-oneshot-1MB-files-to-splunk.sh`
`ant splunk-start-splunkweb`
Checked the dashboards and for some reason, the archived buckets were not being logged.

Examinate.

[2012-09-07 03:57] borischen opened #70 "thaw operation in UI should restrict to SPLUNK_BUCKET for now"
Right now, CSV import may place a very high load on Splunk, due to the fact that Splunk doesn't throttle the input.

Until we have something that regulates resource utilization, we should avoid CSV for the purpose of thawing to Splunk.

[2012-09-07 22:05] petterik commented on #33
This works now. Closing again.

[2012-09-07 22:05] #33 closed, assigned to antonjn

[2012-09-07 22:06] petterik commented on #32
This is done for now. Create new issues for enhancements and or changes.

[2012-09-07 22:06] #32 closed, assigned to petterik

[2012-09-07 22:08] petterik commented on #66
Does not show which buckets are skipped or failed in the UI anymore.

[2012-09-07 22:08] #66 closed, assigned to petterik

[2012-09-07 22:59] petterik opened #71 "Shuttl's logging needs to be defined."
Shuttl's logging is all over the place.
Figure out how to configure it.
Define indexes.
Define where files go.

[2012-09-07 23:18] petterik commented on #69
This issue is wrong. It works.

[2012-09-07 23:18] #69 closed, assigned to nobody

[2012-09-08 00:37] #39 closed, assigned to petterik

[2012-09-08 00:37] #65 closed, assigned to petterik

[2012-09-08 00:44] petterik commented on #70
There are many ways of doing this, and I don't think it's necessary before .conf.
If we restrict it in the UI, we should also restrict it in the server.
We could also solve it by configuring which format you want to thaw.

Today, there's no way of choosing format to thaw. It prioritizes SPLUNK_BUCKET ahead of everything.

I think this is a "won't fix", and we can inform the users that it's expensi

[2012-09-08 03:15] borischen opened #72 "shuttl doesn't work with cdh3 due to incompatibiity with apache hadoop"
http://grokbase.com/t/cloudera/cdh-dev/127mrqhsg7/please-help-cdh3u4-compatibility-with-apache-hadoop-clients

A client on apache hadoop can't talk to CDH3 :-(

document hackery required to make this work

[2012-09-08 03:15] petterik opened #73 "UI - Thawing progress"
Would be nice to see thawing progress when thawing a bunch of data.

[2012-09-08 03:16] petterik commented on #64
It's better now. We should be able to report progress instead of this. Created issue: #73

[2012-09-08 03:16] #64 closed, assigned to petterik

[2012-09-08 03:35] borischen commented on #72
replace hadoop-core.jar, or put in classpath ahead of the lib dir included with shuttl

hadoop-core.jar has a dependency on lib/guava-r09-jarjar.jar (wtf) so include that as well

apparently pentaho found the same to be true http://wiki.pentaho.com/display/BAD/Configure+Pentaho+for+Cloudera+and+Other+Hadoop+Versions

[2012-09-08 03:37] borischen opened #74 "add amazon glacier backend"
http://aws.amazon.com/glacier/

[2012-09-08 03:55] borischen commented on #53
if we cannot get bucket size, can we just leave as NA and keep going?

As long as data can go back and forth, that's sufficient. We can doc this as a limitation of S3.

[2012-09-08 03:58] borischen commented on #70
that's fine, won't fix

[2012-09-08 03:58] #70 closed, assigned to petterik

[2012-09-09 00:46] petterik commented on #53
As I was looking at my old comment, I see: "UNKNOWN", which means that the format it was searching for was unknown.
I don't know why this is, and I'm not sure what I had in my repository at the time, but everything is working as expected now.
I will however make an issue for making the bucketsize better. I've thought about it and I know of a very good solution.

[2012-09-09 00:46] #53 closed, assigned to petterik

[2012-09-09 00:47] petterik commented on #72
What do you want to do here?

[2012-09-09 04:56] petterik commented on #72
Did:
1. cd $SPLUNK_HOME/etc/apps/shuttl
2. replace lib/hadoop-core-<version>.jar with cloudera's hadoop-core.jar
3. Cloudera's hadoop-core.jar has a dependency on guava-<version>.jar. So I took the guava-r09-jarjar.jar from where I got the hadoop-core.jar. (It was located in the lib/ directory next to the hadoop-core.jar.)
Works.
Version: cdh3u5

[2012-09-09 04:56] #72 closed, assigned to petterik

[2012-09-11 18:39] petterik opened #75 "Splunk's bucket count is not reliable enough"
If all buckets from an index have been Shuttl'd, then the bucket count is going to start from 0 again.
When this happens, every Shuttl'd bucket that has the same bucket index (i.e 0), won't be thawable as long as the bucket with bucket index 0 is still in the index.

Same problem goes for buckets that has been shuttled with the same bucket index. They cannot be thawed at the same time.

Solution:

[2012-09-12 00:27] borischen commented on #68
it's in the readme

[2012-09-12 00:27] #68 closed, assigned to borischen

[2012-09-19 04:07] petterik opened #76 "Splunk indexers that doesn't have bash as /bin/sh, won't kill Shuttl's server when Splunk dies"
Splunk indexers that run bash will properly start and stop the Shuttl server, because of how "/bin/bash -c" works. It will replace whatever is in the quotes with it's own process, since it's not going to be needed anymore.

Splunk's scripted inputs are run with /bin/sh -c "<scripted input>". When it's not bash and something like dash (used in Ubuntu), the /bin/sh -c process will live on, and Splun

[2012-09-20 14:49] msnelling opened #77 "archiveBucket.sh has problem with 'exec -a'"
On my Ubuntu 12.04 x64 server installation it looks like that this script isn't interpreting 'exec -a' correctly.

I was able to hack this by setting changing the to #!/bin/bash instead. This obviously isn't a great solution though.

[2012-09-21 01:14] borischen commented on #74
http://docs.amazonwebservices.com/amazonglacier/2012-06-01/dev/using-aws-sdk-for-java.html

[2012-09-21 01:14] borischen opened #78 "0.7.0"
end of october

[2012-09-21 01:15] borischen commented on #78
lame

[2012-09-21 01:15] #78 closed, assigned to nobody

[2012-09-21 01:23] borischen opened #79 "Prevent Duplicate Buckets when using Splunk 5.0 Clustering"
In Splunk 5.0, Splunk will call the cold2Frozen script on replicated buckets, therefore, there will be X number of duplicate buckets. (X being the replication factor configured)

We should dedup on archive.

However, this will mean on thaw, we won't replicate. Which should be fine, since the data is not lost and a new node with the same name can always be brought up to make the bucket available.

[2012-09-21 01:24] borischen commented on #37
warm->cold support is a new feature

[2012-09-21 01:26] borischen opened #80 "Support warm->cold archiving"
In order to reduce latency, do wam->cold transitions in addition to the cold->frozen.

Include instructions on how to set this up

[2012-09-21 01:27] petterik commented on #77
I will just remove the -a option to exec, since it's not needed. It was previously used for debugging purposes.
Expect to see it on the develop branch later today, or in the release by the end of the month.

@msnelling you might also suffer from Shuttl servers staying alive Splunk has stopped or restarted. This depends on if Ubuntu 12.04 uses dash as shell or not. See issue #76 for more info.

[2012-09-21 01:29] borischen opened #81 "Configure Data Retention of Data in Archive"
For instance, if you are required to keep all data for 7 years, then the archive can be configured to "delete" anything older than 7 years old.

We should actually not do a delete operation on the backend, but create a "trashcan" directory, and allow a user to explicitly permanently delete it.

[2012-09-21 01:56] petterik commented on #38
Here's a sequence diagram of how we should do the Shuttl-to-Splunk-to-Shuttl's communication:

http://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgU2h1dHRsIHJlcXVlc3RzCgpVSS0-U1BMOiBSAA0GIChpLmUuIHRoYXcpClNQTC0-U0hVABUJClNIVQAhD1VVSUQAIwZVSQAGEAAkCVBlZXJzAEQLTGlzdCBvZiBwABIGSFUtPiJTUEwACgYiOgCBHwhwb3J0PwoADwsAgQgGPHBvcnQ-IG9yIE5PADUISFUANAlzdGFydACBWwggd2l0aACBHwYAgWIJR2l2ZSBtZSB0aGUgcHJvZ

[2012-09-21 02:38] #77 closed, assigned to petterik

[2012-09-24 14:10] msnelling opened #82 "Buckets not moved into HDFS"
I'm struggling with integrating Hadoop 1.0.3 into Shuttl 0.6.3. I believe I've followed what instructions there are and I can see that my frozen buckets are removed from the index.
I've set the following location for the `<localArchiverDir>file:/~/var/lib/shuttl_archiver</localArchiverDir>` in _archiver.xml_ and I can see the buckets in _var/lib/shuttl_archiver/data/safe-buckets/main_ and lock fil

[2012-09-24 14:50] petterik commented on #82
The archiver.xml looks correct.
Did you also setup the shuttl/conf/splunk.xml ?
Can you see anything in the $SPLUNK_HOME/var/log/splunk/shuttl.log ? (It should me logged into the shuttl index in your Splunk indexer, if you want to trouble shoot from Splunk instead)
If you see any errors, kill the Shuttl process to restart it.
$ ps -ef | grep Shuttl
$ kill <pid>

[2012-09-24 15:31] petterik commented on #82
Also, using the ~ in the <localArchiverDir> could also be a problem, i.e. you're running Splunk as one user and administrating shuttl as another.
You could configure an absolute path to the <localArchiverDir> instead, and move all the files you already have to that new absolute path. And if you do, make sure to restart the ShuttlServer.

[2012-09-24 15:32] msnelling commented on #82
Yes shuttl/conf/splunk.xml was configured.

I'm getting the following error in _$SPLUNK_HOME/var/log/shuttl.log_

[code]

When I do a _netstat -a | egrep 9090_ I only see a port 9090 listening on tcp6

[code]

There's nothing in _$SPLUNK_HOME/var/log/shuttl-server.log_

[2012-09-24 15:34] msnelling commented on #82
In fact it looks like none of the Hadoop processes are listening on IPv4 addresses either. Seems to be isolated to Java.

[2012-09-24 16:22] petterik commented on #82
My `netstat -a | egrep 9090` does not catch anything to be honest. But my `lsof -i :9090` does.

Can you verify that the ShuttlServer is indeed up and running by:
$`lsof -i :9090`
`COMMAND PID ..
java    <pid> <user>   79u  IPv6 ...`
$ `ps -ef | grep <pid>
501  7867  7848   0  8:59AM ??         0:07.72 /Library/Java/Home/bin/java -Djetty.home=. -Dsplunk.home=../../../../ -cp .:../lib/*:./* com.spl

[2012-09-24 16:33] petterik commented on #82
$ `netstat -nat | grep 9090`
`tcp4       0      0  127.0.0.1.9090         *.*                    LISTEN`
I've got tcp4. I'm not sure if or how this is the problem yet. I just thought I'd let you know.

[2012-09-24 19:53] petterik commented on #80
Unlike the coldToFrozen script the warmToCold script also says:
"If you specify a script here, the script becomes responsible for moving the data, and Splunk's native data." - from $SPLUNK_HOME/etc/system/README/indexes.conf.spec

We need to do two operations. These could happen in any order.
a. Shuttl the data to the backend storage.
b. Move the native bucket to the configured cold path.

Shuttl

[2012-09-25 02:25] petterik commented on #74
"I have a question, if I have many files in glacier, more than 1000000 files, and I want to retrieve them.

How many jobs can I create at one time ?
Can I create 1000000 jobs at one time, only wait 3-5 hours, and start to retrieve them after 3-5 hours ?"

From: https://forums.aws.amazon.com/thread.jspa?threadID=104867&tstart=0

[2012-09-25 02:30] petterik commented on #74
"Every job should complete after ~4 hours"

From: https://forums.aws.amazon.com/thread.jspa?threadID=102750&tstart=100

Maybe glacier is only suitable for "stripped buckets", with raw only, and re-building the buckets when they are in thaw. Need to experiment.

[2012-09-25 09:56] msnelling commented on #82
I tried switching to IPv4 only by using the Java option `-Djava.net.preferIPv4Stack=true` but this had no effect. I can verify that `lsof -i :9090` shows the java shuttl process listening.

I'm installing Shuttl into a pre-existing Splunk installation. When Shuttl is enabled Splunk immediately tries to archive the the old buckets, that is when I get the `2012-09-24 16:20:44,278 ERROR com.splunk.sh

[2012-09-25 13:56] msnelling commented on #82
Ok, I think I'm right that when you install Shuttl into an existing Splunk system that when Shuttl starts, any buckets that would be frozen are tried but fail becuase the Shuttl server isn't ready in time.
These bucket remain in the `<localArchiverDir>` indefinitely.
I tested this by enabling an index once Shuttl was running and it worked.

[2012-09-25 14:49] msnelling opened #83 "Thaw and Flush menus not working"
Both menus return a 404 and the following message

`The path '/en-GB/custom/shuttl/Archiving/show_flush' was not found.`

[2012-09-25 23:55] petterik opened #84 "Retry freezing buckets that failed to be frozen"
Right now we only retry to freeze buckets whenever the coldToFrozen script is called.
This could occur too seldom and make data that could be available for thawing, unavailable for an unnecessary long time.

Create some thing that periodically (every X minutes) freezes everything that's available in `<localArchiverDir>`.

Implementation details:
- It should use the same code as the coldToFrozen sc

[2012-09-25 23:56] petterik commented on #82
I believe you're correct. However, the buckets will not remain in the `<localArchiverDir>` indefinitley. They will be re-tried whenever another bucket is being frozen.

Right now we only retry to freeze a bucket when a bucket is being frozen. Created issue #84 for periodically retrying to freeze buckets that failed.

[2012-09-26 00:17] petterik commented on #83
I could reproduce the behavior by installing Shuttl on an existing running Splunk, and without restarting Splunk, going to Shuttl's Thaw and Flush menus.
The issue was resolved when I restarted Splunk.

Have you restarted the Splunk that Shuttl is installed on, or no?

However, there should be a way to install the app without restarting Splunk. I'm on it!

[2012-09-26 00:32] petterik commented on #83
There is no way at this time to reload custom controllers, which is they way we've written the current UI.

Splunk needs to be restarted to use the UI.
We might redo the UI later in a way that does not have this flaw.

I'm sorry for the inconvenience.

Please get back to me if you're still getting this error after having restarted Splunk.

[2012-09-26 01:37] petterik opened #85 "GZIP format to store the whole bucket as one file, instead of a directory."
Implement a GZIP format that will store the bucket as one file instead of a directory.

This will add latency to the system, but it'll help us when Shuttling with the amazon glacier backend, since it's more expensive to get multiple files [needs verification].

[2012-09-26 10:21] msnelling commented on #83
Yes a restart fixed the issue thanks.

[2012-09-26 13:52] msnelling opened #86 "Unable to use AWS S3"
This is probably not the right place to ask this question but I'm having real problems getting Hadoop to work with S3.
I've created a bucket, set the permissions and verified the access keys work. However Hadoop failes to start with the following error in the datanode log.

I've added the following properties into both _core-site.xml_ and _hdfs-site.xml_

[code]

[code]

[2012-09-26 21:24] borischen opened #87 "Shuttl REST APIs should be secured"
We should either proxy to Splunk, and hence use admin/password crds.

Or we should have Shuttl specific crds. (not preferred)

[2012-09-26 21:25] #83 closed, assigned to petterik

[2012-09-26 21:27] borischen opened #88 "Shuttl should encrypt backend auth creds"
This may have a couple of parts
1) we need a way of specifying backend creds to encrypt and store upon setup, this could be cli or UI
2) we need a way of implementing the auth mechanism for individual backends. some may not have any (such as NFS, which will be based on file perms, but HDFS may have kerberos, etc.)

[2012-09-26 21:30] petterik commented on #86
I'm sorry, but I can't help you with that.

But if you're trying to Shuttl with s3, there's an easier way:
Configure your `<archiverRootURI>` to be `s3://<ID>:<SECRET>@<BUCKET>/archiving_root` and you should be all set.
You can use s3n as well.

[2012-09-27 06:03] #85 closed, assigned to petterik

[2012-09-28 21:01] petterik opened #89 "Maximum thaw size"
Specify a maximum thaw size, and/or detect the disk capacity.

[2012-10-04 07:17] petterik commented on #74
Configuration suggestion:
glacier://<ID>:<SECRET>@endpoint/<vault>

[2012-10-04 07:21] petterik commented on #34
- All transferring code now use the same Transaction code, given src, temp and "real dst". Nothing was reused before.
- The ArchiveFileSystem interface is easier to implement.

[2012-10-04 07:21] #34 closed, assigned to nobody

[2012-10-04 07:22] #86 closed, assigned to nobody

[2012-10-04 07:22] #82 closed, assigned to nobody

[2012-10-04 17:41] petterik commented on #74
Good example of how to parse the vault inventory request:
https://github.com/MoriTanosuke/glacieruploader/blob/master/src/main/java/de/kopis/glacier/util/VaultInventoryPrinter.java

[2012-10-06 09:51] petterik commented on #74
Configuration uri change:
glacier://<ID>:<SECRET>@<endpoint>:<s3bucket>/<vault>
, where vault also serves as the archiving root on s3.
The reason for the change is because glacier is using part glacier and part s3 (which is hardcoded to s3n atm).
I'm not sure this is the way of going forward, instead we could have separate uris, configs and/or property files. Or we could keep it this way.

[2012-10-06 17:32] borischen commented on #74
prefer breaking out values into a config file. Worried about cramming too much into a "url"

[2012-10-07 01:24] petterik commented on #74
What's left to do:
- Breaking out vaules into different config files, which probably means redesigning the configuration a little.
- Persisting/Caching ArchiveIDs. When downloading a file from glacier a special ArchiveId is needed. I've mapped it to a unique URI (the archiving path), but it's only stored in memory atm. A reboot of the system would not have any ArchiveIDs. It's possible but expensi

[2012-10-09 23:11] petterik opened #90 "Get the server name from rest endpoint instead of configuration"
The server name of a Splunk instance can be retrieved from:
  https://hostname:8089/services/server/info/serverName

Makes it easier to configure and hopefully more consistent.
It should still be possible to override this configuration, incase someone would like to be configured as if it was some other server.

[2012-10-12 22:08] petterik opened #91 "Better UX when exceptions occur in the thaw/flush UI."
Exceptions like: "Cannot connect to hadoop" have huge red stack traces. Make this nicer for the user.

[2012-10-13 08:22] petterik opened #92 "Glacier ArchiveIds, getting, persisting and caching"
When downloading a file from glacier a special ArchiveId is needed. The archiveId is mapped it to a bucket archive path, but it's only stored in memory at the moment. A reboot of the system would not have any ArchiveIDs. It's possible but expensive to get them from glacier. It takes around 4 hour and some money.

Figure out how and where the archiveIds should be gotten, listed, cached etc.

One id

[2012-10-13 08:25] petterik opened #93 "New configuration needs to be documented"
The configuration had a makeover when developing support for glacier, #74.

Document how it works now with property files in shuttl/conf/backend, and note that it is backwards compatible with the old configuration.

[2012-10-13 08:28] petterik opened #94 "Integration testing with glacer"
Make sure that the glacier backend works by shuttling and thawing buckets to it.

So far shuttling has been tested, but not thawing, because it should take about ~4 hours to test.

[2012-10-13 08:29] petterik commented on #74
Re-made the configuration so that it's done with property files instead of with a URI. This issue is getting too big. Created issues for everything that's left to do:
- New configuration needs to be documented, #93
- Integration testing with glacer, #94 (Should take around 4hours to test).

Closing the issue.

[2012-10-13 08:29] #74 closed, assigned to petterik

[2012-10-20 04:52] petterik opened #95 "ant script can setup Splunk 5.0 with minimum cluster setup"
Create ant target which sets up Splunk 5.0 in cluster with:
1 x cluster master
2 x cluster slaves
This will be the minimum setup to have replication and to communicate within a cluster from slave to master and slave to slave (which might be needed?)

Note: We of course want the minimal setup for minimizing the setup costs for running end-to-end tests.

[2012-10-25 09:31] #92 closed, assigned to nobody

[2012-10-25 20:58] #93 closed, assigned to nobody

[2012-11-01 00:37] petterik commented on #95
ant targets:
cluster-setup
cluster-teardown

[2012-11-02 01:04] petterik commented on #95
Each instance needs unique shuttl ports.

[2012-11-02 02:15] #95 closed, assigned to nobody

[2012-11-05 18:52] petterik opened #96 "MR job for loading CSV data into HBase tables"
Create a MapReduce job that:
- Given an index (splunk index), get all the csv files for all the indexers
- Load those csv files to an hbase table that's unique per index.

Given scenario:
- Job was run successfully and HBase contains all the data.
- New CSV data is Shuttl'ed to hdfs
- Job is run again then: Only the new data is appended to the HBase tables (for the correct indexes).

Other criteri

[2012-11-05 18:56] petterik opened #97 "Create a tools directory where integrations go"
We need a place where the source code for our different integrations go.

The integration may depend on the Shuttl source code, but the Shuttl source code cannot depend on the integration code.
When Shuttl code want to use anything in the integration source-tree, then it should be merged/moved into the Shuttl source-tree.

[2012-11-05 19:10] Klevmarken opened #98 "Single Node Test on HDFS"
Will do a single node test with bucket sizes of 100MB, 1GB, 10GB on HDFS including shuttling and thawing.

[2012-11-05 19:12] Klevmarken commented on #98
Tested shuttling and thawing 10+ buckets of 100MB. No problems encountered.

[2012-11-05 19:14] #97 closed, assigned to petterik

[2012-11-05 19:14] Klevmarken commented on #98
Tested shuttling and thawing 10+ buckets of 1GB. Doing it on a laptop was a bit harsh but it works fine on more powerful computers.

[2012-11-05 19:17] Klevmarken opened #99 "Single Node Test on S3"
Will do a single node test on S3 with bucket sizes of 100MB, 1GB, and 10GB including both shuttling and thawing.

[2012-11-05 20:03] Klevmarken commented on #99
Did a single node test with bucket size set to 1GB. Resulted in the following exception:

NFO org.apache.commons.httpclient.HttpMethodDirector: I/O exception (java.io.IOException) caught when processing request: Resetting to invalid mark

The only thread I have found that discusses related exceptions is the following:

http://stackoverflow.com/questions/4698869/problems-when-uploading-large-files-

[2012-11-05 20:07] Klevmarken commented on #99
Did a single node test with bucket size set to 1GB on s3n to see if there was any difference. Resulted in:

Error Message:
(Error)
(Code) EntityTooLarge (/Code)
(Message) Your proposed upload exceeds the maximum allowed size (/Message)
(ProposedSize) 8295576317 (/ProposedSize)
(RequestId) 43D2F861EE780AEE (/RequestId)
(HostId) PXtHRzRzHjN1qAElRV8AiMi9rTmAMZOh+B8zvDiDJa4/z+u0Jm4MUdhldAEZAKOG (/Host

[2012-11-05 22:44] mklich opened #100 "Automatic HBase setup with Ant"
Installation and configuration of a HBase test environment should be setup using Ant.

[2012-11-05 23:48] Klevmarken commented on #99
Did a single node test with bucket size set to 100MB on s3 and s3n.
- For s3n shuttling works fine as long as the total size of the transfer file is less then 5GB otherwise Amazon throws and error message. So s3n might not be of interest since SPLUNK_BUCKETs have a default size of 10GB.
- For s3 the transfer works fine even though shuttl.log is spammed with the following messages:

2012-11-05 14:4

[2012-11-06 18:14] Klevmarken commented on #94
Did a single node test with 100MB buckets and CSV files in the size range of 1-7GB. Tested shuttling and thawing. Test passed; completed in 4 hours in the minute.

[2012-11-13 01:15] Klevmarken opened #101 "Multinode test on AWS with HDFS"
- Setup a hadoop cluster consisting of 1 namenode and 3 datanodes on amazone aws using whirr.
- Test shuttling SPLUNK_BUCKET and CSV data to HDFS in the cluster with bucket sizes of 100MB, 1GB, 10GB.
- Test thawing SPLUNK_BUCKET and CSV data from HDFS to the local file system.

[2012-11-13 02:00] Klevmarken commented on #101
- Configured whirr to set up a hadoop cluster cluster with 1 namenode and 3 datanodes.
  Pre-requisites:
        - Java 6
        - An account with a cloud provider, such as Amazon EC2, or Rackspace Cloud Servers
        - An SSH client

  Installation:
        - Update brew
        - Brew install maven
        - Download and install the latest version of hadoop
        - Download latest tar of wh

[2012-11-16 21:58] petterik opened #102 "Splunk 5.0 clustering QA"
Setup:
- Set up a cluster of Splunk 5.0 instances.
- Make one the Cluster Master.
- Configure at least 2 other instances to be cluster slaves, connected to the master.
- Configure an index that is replicated across the cluster.
- Roll data on all indexers.

Assert:
- Make sure there's no buckets called rb_...
- Make sure there are no duplicated buckets.
- Make sure that data is not stored in temp,

[2012-11-17 00:50] petterik commented on #79
Results:
- New ant targets: cluster-setup and cluster-teardown.
- New test group: cluster-test
- Any indexer can Shuttl buckets as if they are another Shuttl instance. The configuration is provided by communicating with, Cluster Master, Cluster Slave and the Cluster Slave's Shuttl Instance.
- Transactions are considered complete if the file already exists on the archive file system.
- Data transfe

[2012-11-17 00:50] #79 closed, assigned to petterik

[2012-11-17 11:48] petterik opened #103 "Fix Shuttl UI hardcoded shuttl_port=9090"
The port for making rest calls to shuttl is hardcoded to 9090.
The port can be gotten by calling the custom REST Splunk endpoint /services/shuttl/port.

[2012-11-22 07:48] #103 closed, assigned to petterik

[2012-11-24 02:49] petterik commented on #80
So far we have an endpoint that copies the bucket without deleting it afterwards.

[2012-11-24 02:57] petterik commented on #80
Here's an interesting notice from the indexes.conf.spec:
- Searches and other activities are paused while the [warmToColdScript] is running.

[2012-11-24 07:33] petterik opened #104 "archiveBucket.sh uses `source`, which needs bash"
When the "cold to frozen script" - archiveBucket.sh - is run, and `/usr/bin/env sh` isn't set to bash, it might crash.

set the shebang to be #!/bin/bash

[2012-11-24 08:41] #104 closed, assigned to nobody

[2012-11-24 08:50] #98 closed, assigned to nobody

[2012-11-24 10:19] petterik commented on #80
warmToColdScript cannot be configured as the coldToFrozenScript, with the index name after the script. Like so:
`coldToFrozenScript = $SPLUNK_HOME/etc/apps/shuttl/bin/archiveBucket.sh archive-test-index`

Instead the warmToColdScript needs to rely on the path to the bucket, that Splunk gives the script. Iterate over all the indexes in Splunk and find the configured warm-path that is the parent fil

[2012-11-26 19:32] Klevmarken commented on #102
Setup:
- Cluster of Splunk 5.0  consisting of 1 Cluster Master and 4 Slaves
- Hadoop 1.1.0 was configured on the CM and 3 of the Slaves (the slave without hadoop will be referred to has the "lone node")
- Index with a 1GB bucket size was configured for all the nodes
- Rolled data over the indexers by feeding the lone node with multiple 1GB large CSV files.

Asserted:
- No buckets are called rb_...

[2012-11-26 20:09] Klevmarken commented on #102
Asserted errors on Splunk Slave/Hadoop Data Node:
- 2012-11-24 13:00:45,186 INFO com.splunk.shuttl.archiver.filesystem.transaction.TransactionExecuter: will="Prepare transaction" transaction="Transaction [data=/mnt/KlevisTestArea/shuttl_archiver/data/metadata-dir/cluster_shuttl_test/db_1353508571_1346284800_9_91C4875E-8017-4E9D-9004-5C3223F1042A/SPLUNK_BUCKET/bucket.size, remoteTemp=/user/ec2-user

[2012-12-01 02:03] Klevmarken commented on #101
Persisting 1GB SPLUNK_BUCKET with >10GB of Data:
Transfer time for 1 bucket: ~25 sec for ~1GB Data and ~500MB rawdata.
Errors: None

Number of buckets transferred: 13
Thawing time for all buckets: ~5 min
Errors: None

Number of buckets transferred: 13
Persisting 10GB SPLUNK_BUCKET buckets with >100GB of Data:
Transfer time for 1 bucket: ~6 min
Errors: None

Number of buckets transferred: 4
Thawing

[2012-12-03 16:32] Klevmarken commented on #94
Persisted 10+ SPLUNK_BUCKETS_TGZ to glacier. Thawed 10 SPLUNK_BUCKETS_TGZ. The thawed buckets have the following structure: /thaweddb/db_number_number/SPLUNK_BUCKET_TGZ. The following is an example of the bucket content:

^_?^H^@^Y??P^@^C??  `^TE?ǻzzf29^H??
"??????c8"W??CA?%2Lf:Ɋ@f&̊A?Vߊ"(?ȥ"?"^P??UQ?UY?S^D^Q^D/N?å^K^T?^EV^Vدf?\<^E]??ϯ??H??? ????߮S^Y?^U?$
L^A^RÊ^K?$ L??????R,^R??ss^Y3b?G]་??F?＋^B?

[2012-12-03 16:35] Klevmarken commented on #94
You also have to spam on thaw in order to get several buckets to thaw. Would be good if all none thawed buckets would be thawed.

[2012-12-03 21:16] petterik opened #105 "Glacier should download archives with their original file name"
The glacier client has no way of downloading "archives" (glacier files) with their original file name.
There are two solutions to this problem:
1. Persist metadata, like archiveId's are being handled.
2. Construct the file name from the bucket, before downloading it.

Choose one. Explain why it was chosen.

[2012-12-04 22:06] #105 closed, assigned to nobody

[2012-12-04 22:08] petterik commented on #94
Made a test experience this.
Created a failing test.
Made it pass.
Everything should work now with #105.

[2012-12-07 00:19] trumpdeck commented on #80
FYI some customers are asking about this feature
see case 105446

Subject: Upload warm/cold buckets to S3
Description: Hello,
We are interested in uploading our Splunk indexes to S3 to be used by
Elastic MapReduce. We don't want to have to archive the buckets because we
still use Splunk in-house. We have several months of data before it gets
archived/frozen, and we'd like to keep it that way. Is t

[2012-12-07 10:52] petterik commented on #80
Great!
Warm-to-cold should be released very soon too!
There should probably exist a script for just copying buckets while they are still in warm too, but the user of that script would have to be sure that the bucket is not going to be modified by Splunk any more.

Thanks for the info

[2012-12-10 02:29] Klevmarken commented on #94
Re-thawed 6 buckets. The following is the example content of one of them.

[eserv@sfeserv32 db_1350878964_1346986424_98]$ ls
1350853564-1350850852-6764658681876345039.tsidx
1350853575-1350852089-8830571220069019855.tsidx
1350853579-1350852101-2813574556680220879.tsidx
1350853601-1350852166-6172856512550039759.tsidx
1350853652-1350852177-2949141887958675663.tsidx
1350853658-1350852179-7802544362247

[2012-12-10 12:01] petterik commented on #94
Beautiful :+1:

[2012-12-10 12:01] #94 closed, assigned to nobody

[2012-12-10 17:08] Klevmarken commented on #101
Persisting 1GB SPLUNK_BUCKET/CSV with >10GB of Data:
Transfer time for 1 bucket: ~11min
Errors: None
Number of buckets transferred: 7

Thawing 1GB SPLUNK_BUCKET/CSV with >10GB of Data:
Transfer time for all buckets: ~2:30min
Errors: None
Number of buckets transferred: 7

[2012-12-10 17:09] Klevmarken commented on #101
Persisting 10GB SPLUNK_BUCKET/CSV with >100GB of Data:
Transfer time for 1 bucket: Unknown
Errors: None
Number of buckets transferred: 2

Thawing 10GB SPLUNK_BUCKET/CSV with >100GB of Data:
Transfer time for all buckets: ~10 min
Errors:

Several - 2012-12-10 16:40:33,938 ERROR ShuttlServer: Error during startup

Due to the above error I shutdown shuttl in order for it to reboot and start properly.

[2012-12-11 19:44] borischen opened #106 "Should be able to "test" a backend is configured correctly"
Use case:

User is configuring Shuttl to write to a backend. Wants to know that configured correctly, without actually shuttling a bucket.

Functionality:
Based on a config, be able to, via rest/cli, write a zero byte test file to see it written to the backend. And alternatively, if fails, then write the failure to the log file Clean-up any test files upon startup of Shuttl

[2012-12-11 21:41] Klevmarken commented on #102
Persisting data with 1GB buckets to HDFS.

The following errors preceded the test in the log and are due to shuttl not rebooting with splunk on ubuntu:

2012-12-11 21:09:56,116 ERROR ShuttlServer: Error during startup
java.net.BindException: Address already in use
    at sun.nio.ch.Net.bind0(Native Method)
    at sun.nio.ch.Net.bind(Net.java:344)
    at sun.nio.ch.Net.bind(Net.java:336)
    at sun

[2012-12-12 00:54] Klevmarken commented on #102
Retested persisting looking at the log and size of the bucket at different stages of the process.

Some statistics regarding the size:
Bucket nr:..................lf safe_buckets:.........Web:........................hdfs:
7..................................968MB.....................966MB.....................490MB*
10................................871MB.....................868MB...................

[2012-12-12 02:25] Klevmarken commented on #102
Retested persisting looking at the log and size of the buckets at different stages of the transfer process.

Some numeric results:
Bucket nr:.......lf safe_buckets:.......Web:..................hdfs:
14..................999/514 (raw)...........512->997............~512
17...................817/395 (raw)..........393->815............~393
18..................988/491 (raw)...........unknown->986.....~4

[2012-12-13 20:23] Klevmarken commented on #102
Same test with new version of shuttl.

Extract from lone-slave:

2012-12-13 20:17:06,260 INFO com.splunk.shuttl.archiver.filesystem.transaction.TransactionExecuter: will="Prepare transaction" transaction="Transaction [data=/mnt/KlevisTestArea/shuttl_archiver/data/metadata-dir/cluster_shuttl_test/db_1355085768_1344038400_24_61E70347-200D-476F-A710-8E74F97527E6/SPLUNK_BUCKET/bucket.size, remoteTemp=

[2012-12-13 20:27] Klevmarken commented on #102
Thawing looks ok; right size, correct content.

[2012-12-13 21:36] Klevmarken commented on #102
2012-12-13 20:05:11,858 INFO com.splunk.shuttl.archiver.filesystem.transaction.TransactionExecuter: will="Prepare transaction" transaction="Transaction [data=/mnt/KlevisTestArea/shuttl_archiver/data/metadata-dir/cluster_shuttl_test/db_1355428750_1341699386_20_61E70347-200D-476F-A710-8E74F97527E6/SPLUNK_BUCKET/bucket.size, remoteTemp=/user/ec2-user/KlevisTestArea/temporary_data/ip-10-190-170-133/us

[2012-12-14 04:13] petterik opened #107 "Rename archiveBucket.sh to coldToFrozenScript.sh for usability"
The Shuttl scripts called `archiveBucket.sh` and `copyBucket.sh` are used for coldToFrozenScript and warmToColdScript configurations. It is not obvious which one should be used where.

Instead, rename these to coldToFrozenScript.sh and warmToColdScript.sh respectivily.

[2012-12-14 04:33] petterik commented on #102
Verified all behaviours

[2012-12-14 04:33] #102 closed, assigned to nobody

[2012-12-14 04:52] petterik commented on #107
I decided to leave archiveBucket.sh and create a copy named coldToFrozenScript.sh, to be backwards compatible with all the current users.

[2012-12-14 14:28] petterik opened #108 "Separate formats for warmToColdScript and coldToFrozenScript"
Problem:
The two scripts uses the same configuration, and some might want to separate them to have the warmToColdScript use some format(s) and coldToFrozenScript use some other format(s).

Todo:
Make it possible to archive in some formats and copy in some other formats.

Work around:
- Install two Shuttls on each indexer, one for warmToCold and one for coldToFrozen.
- Configure each Shuttl to have

[2012-12-14 15:24] petterik opened #109 "Does not thaw buckets if they are still in colddb or (home/hot/warm)db"
warmToCold support (#80) makes it possible to copy buckets that are still in Splunk.

Todo:
When thawing, check if the bucket is still in any of the (home/hot/warm)db or colddb directories. If the bucket is there, don't thaw that bucket.

[2012-12-14 16:41] #101 closed, assigned to nobody

[2012-12-14 22:23] petterik opened #110 "warmToColdScript QA"
Test the warmToColdScript:
- warmToColdScript only. No coldToFrozenScript configured
- Bucket size: 50MB
- Splunk 5.0 cluster setup
- HDFS backend
- Formats: SPLUNK_BUCKET and CSV

Assert:
- all (db)buckets that are in colddb for all slaves, are copied to Shuttl's backend.
- no rb buckets are archived
- thawing is ultra fast, since it does not thaw anything that is already in hot/warm/colddb.

Try

[2012-12-15 00:18] #107 closed, assigned to nobody

[2012-12-15 00:20] #109 closed, assigned to nobody

[2012-12-15 00:24] petterik commented on #80
Waiting for #110. Closing when done.

[2012-12-17 11:35] petterik opened #111 "HotToWarm Shuttling"
To get the least possible latency, we might want to Shuttl buckets that have rolled to warm.

One way of doing this would be to monitor the filesystem, looking for warm buckets (db_ in the index's db path) with the change in optimize.result for something like:
splunk-optimize-lex complete with rc=0 wrc=[0,2]
Splunk should be done with the bucket at this point, and we should be able to Shuttl/copy

[2012-12-17 19:04] Klevmarken commented on #110
When allowRemoteLogin on the lone-slave is not set to always then:

2012-12-17 18:45:08,396 ERROR com.splunk.shuttl.archiver.copy.ColdCopyEntryPoint: did="Called main entry point for copying bucket" happened="com.splunk.HttpException: HTTP 401 -- Remote login has been disabled for 'admin' with the default password. Either set the password, or override by changing the 'allowRemoteLogin' setting in

[2012-12-17 23:35] petterik commented on #110
Works!

[2012-12-17 23:35] #110 closed, assigned to nobody

[2012-12-18 19:38] petterik commented on #80
@trumpdeck This is completed now. Tell the customers that have been asking about it :)

[2012-12-18 19:38] #80 closed, assigned to petterik

[2012-12-19 01:04] justinlundy opened #112 "Shuttl with S3"
I'm looking to use Shuttl with S3, without a Hadoop cluster. I've got Splunk 5.0.1 running and configured some test indexes for the purposes of evaluating shuttl.

Built and installed the app, followed the documentation as much as possible. Confirmed S3 bucket policy is configured properly -- AWS keys work etc.

The buckets are being copied into /mnt/raid/shuttl_archiver -- but they are not making

[2012-12-19 01:35] petterik commented on #112
@tegatai You're mixing the old and new way of configuring Shuttl.

I see two things you can try (and I'll make this clearer in the README):
1. The <archiverRootURI> should not be used, instead just use <backendName>, <archivePath> and the appropriate files in shuttl/conf/backend.
2. The <archivePath> should be absolute when using s3, so put a "/" before splunk_archive, so it's `<archivePath>/splun

[2012-12-19 05:22] petterik commented on #106
Since we don't want to be dependent on what backend the users of Shuttl uses for this script, and we don't have any remove-bucket endpoint, there's no real way of tearing down this test.

The test does remind the user to remove the archived buckets, every time they run the script.

[2012-12-19 05:22] #106 closed, assigned to nobody

[2012-12-19 05:25] petterik commented on #106
The script for testing if a configured Shuttl is working lives in a built and installed shuttl app at:
$SPLUNK_HOME/etc/apps/shuttl/bin/testArchivingBucket.sh

[2012-12-19 05:26] petterik commented on #112
I've made it easier to test if a configured Shuttl works.
Instead of having you making a bucket roll to frozen, you can now run a script! See this comment: https://github.com/splunk/splunk-shuttl/issues/106#issuecomment-11518045

[2012-12-19 05:28] petterik opened #113 "Make Shuttl's Quickstart guide better"
The documentation of how to make Shuttl could be better.

Make it better by doing whatever it takes. Steps, examples, sample configuration, pictures, whatever it takes.

[2012-12-19 05:51] petterik opened #114 "Document how the new script for testing configured Shuttl works"
There's a script at built and installed Shuttl at $SPLUNK_HOME/etc/apps/shuttl/bin/testArchivingBucket.sh

It's meant for testing if a configured Shuttl works.

Document how it works and maybe include it somewhere in the Shuttl Quickstart (#106)?

[2012-12-20 01:17] Klevmarken commented on #114
First test in ams on ubuntu.

Running the script with ./testArchivingBucket.sh cluster_shuttl_test 9090 results in:

ec2-user@ip-10-68-121-205:/mnt/KlevisTestArea/splunk/etc/apps/shuttl/bin$ ./testArchivingBucket.sh cluster_shuttl_test 9090
mktemp: too few X's in template `db_1336330530_1336330530_0'
If you're having trouble, you can customize the shuttl vars with usage:
./testArchivingBucket.sh [

[2012-12-20 02:12] Klevmarken commented on #114
Usage: ./testArchivingBucket.sh <index> [host] [port]

BUT:

./testArchivingBucket.sh shuttl_script_test localhost 9090
Usage:
./testArchivingBucket.sh [shuttl_port] [shuttl_host]
./testArchivingBucket.sh shuttl_script_test 9090 localhost
Usage:
./testArchivingBucket.sh [shuttl_port] [shuttl_host]

[2012-12-27 14:55] petterik opened #119 "Target for packaging shuttl for splunkbase in .spl format"
Create an ant target that packages shuttl in .spl format.

Follow instructions at:
http://docs.splunk.com/Documentation/Splunk/latest/AdvancedDev/PackageApp#Packaging_your_app_for_Splunkbase

[2012-12-27 21:42] #119 closed, assigned to nobody

[2013-01-03 01:07] petterik commented on #113
@Klevmarken: This wiki page needs updating: https://github.com/splunk/splunk-shuttl/wiki/Quickstart-Guide

[2013-01-04 01:09] petterik opened #120 "shuttl.spl should be default configured to Splunk port 8089"
The default Splunk port should be 8089 for the splunk-base packaged Shuttl app, for better usability.

[2013-01-15 19:36] Klevmarken commented on #113
It was updated by Bchen, and I have modified the other guides and example to follow his standard.

[2013-01-24 20:54] petterik commented on #38
The REST calls are relayed to a Shuttl's Splunk's search peers, then the JSON's gets joined/merged. Closing.

[2013-01-24 20:54] #38 closed, assigned to petterik

[2013-01-24 21:16] petterik commented on #38
Regarding using a SearchPeer's <serverName> as host:ip pair. It seems to be true according to docs:
"Note: serverName is not used when adding search peers to a search head. In that case, you identify the search peers through their domain names or IP addresses." (http://docs.splunk.com/Documentation/Splunk/latest/Deploy/Configuredistributedsearch#Manage_distributed_server_names)

[2013-01-28 20:50] petterik opened #124 "Make sending requests distributed shuttl's more reliable and faster"
Sending requests from a Shuttl on a search head, currently assumes that it works all the time. Sad paths are not explored nor tested.

Todo:
- Test/define the sad paths.
- Handle errors.
- Make the calls async instead of blocking. Fork/join?

[2013-01-29 02:31] #124 closed, assigned to nobody

[2013-01-29 02:33] #120 closed, assigned to nobody

[2013-01-29 02:34] petterik commented on #112
are you having any problems @tegatai? I'm closing this issue otherwise.

[2013-01-29 02:35] #52 closed, assigned to nobody

[2013-01-29 02:39] petterik commented on #27
Well yes and no. The endpoints should be tested with integration tests, which they are now that the cluster-tests are in place.
The endpoints has also been minimized of logic.
Maybe there should exist integration tests that only defines the rest responses to good and bad input. Maybe..

[2013-01-29 02:46] petterik opened #125 "QA shuttl control from search head"
Setup:
- 1 Search Head
- 2-10 Search Peers
- Shuttl on all of them.

Run happy path tests. You should be able to control all the Shuttl's from the UI of the Search Head. Thawing, Listing and Flushing.
Run sad paths, crashing Splunks, Shuttls. Be evil.

Comment on anything that you find weird.

[2013-01-29 02:49] justinlundy commented on #112
Thank you, I resolved the issue.

[2013-01-29 02:49] #112 closed, assigned to nobody

[2013-03-01 00:36] borischen opened #126 "Copyright info needs to be updated to 2013 on relevant files"

[2013-03-04 19:29] Klevmarken commented on #125
Shuttle Test 1 - Nice Test:
1 Master / Hadoop namenode
1 Search head / Hadoop datanode
2 Search peers / Hadoop datanode

Once shuttl had been enabled on all the nodes the Search head displayed the following message:
"Search results may be incomplete, peer ip-10-4-150-48-ec2-user's search ended prematurely. This may be caused by a variety of reason, please consult logs on peer for details!"

What l

[2013-04-17 03:34] chunmingpoxiao opened #127 "Failed Buckets"
When I restart splunk,I can see the buckets in var/lib/shuttl_archiver/data/safe-buckets/main and lock files in var/lib/shuttl_archiver/data/archive-locks-dir but they are never moved into HDFS.I want to recovery buckets to Splunk,how can i do?

[2013-04-17 03:49] chunmingpoxiao opened #128 "Restart splunk"
![df](https://f.cloud.github.com/assets/4122556/389548/ed96b836-a710-11e2-837a-04f4f2bfd14d.jpg)..when i restart splunk,i can't see buckets moved into HDFS.

[2013-04-17 03:49] chunmingpoxiao commented on #128
i can't see other buckets

[2013-04-17 09:36] chunmingpoxiao commented on #63
@petterik when i restart splunk, I can see the buckets in /root/shuttl_archiver/data/safe-buckets/main and lock files in /root/shuttl_archiver/data/archive-locks-dir but they are never moved into HDFS.I want to recovery buckets to Splunk,how can i do?

[2013-04-17 20:05] petterik commented on #63
@chunmingpoxiao: When you restart Splunk, Splunk might try to "roll" a bucket from cold to frozen by invoking the coldToFrozenScript. If the roll to frozen happens when Splunk is starting up, it's very likely that the Shuttl server hasn't started yet. The buckets that are going to be frozen will be moved to the "safe-buckets" directory, but not transferred to HDFS.
However, the buckets in the "saf

[2013-04-17 20:08] petterik commented on #128
@chunmingpoxiao see the comment here: https://github.com/splunk/splunk-shuttl/issues/63#issuecomment-16532322

I'm assuming that's your problem, since it seems like your configuration is correct because you have some buckets in HDFS.
Freeze more buckets and you should eventually see everything in HDFS.

Can you explain what you mean by "I cant' see other buckets"?

[2013-04-18 03:29] chunmingpoxiao commented on #63
@petterik you say "the buckets in the "safe-bucket" directory will be transferred later",when i try again,Shuttl transfers a bucket but not transfer all the buckets in "safe-bucket" directory.i don't know how can i do.......
can you read chiness?

[2013-04-18 03:57] chunmingpoxiao commented on #128
![QQ 20130418115203](https://f.cloud.github.com/assets/4122556/394896/5bc4a758-a7db-11e2-9320-c5221741dffb.png)..... i try again,Shuttl transfers a bucket but not transfer all the buckets in "safe-bucket" directory...lost  0，1，2，4，6  CSV 。。it never transfer all the buckets in the "safe-buckets" directory to HDFS.

[2013-04-18 07:38] chunmingpoxiao commented on #84
i don't understand  "Create some thing that periodically (every X minutes) freezes everything that's available in <localArchiverDir>."。。。

thank you

[2013-04-18 21:52] petterik commented on #63
Can you see if you can find anything strange or any errors in $SPLUNK_HOME/var/logs/splunk/shuttl.log

Try this:
1. Stop Splunk
2. Run `ps -ef | grep shuttl`
3. Kill the shuttl process (if there is one)
4. Start Splunk
5. Feed Splunk with data, so that it will eventually call the coldToFrozenScript. Or move a bucket that is in the `safe-buckets` directory to the cold directory of it's index.
6. Bu

[2013-04-18 21:54] petterik commented on #128
See if you can find anything in the logs at $SPLUNK_HOME/var/logs/splunk/shuttl.log. You might be able to find out what happened to bucket 0, 1, 2, 4 and 6.
This is strange behavior. I've never seen it before.

[2013-04-19 07:45] chunmingpoxiao commented on #63
@petterik  (^_^)....today i use Version: 0.8.2...it's different  from previous versions。。i don't know how to configure ...

[2013-04-19 08:04] chunmingpoxiao commented on #82
@petterik
 ERROR ShuttlServer: Error during startup
java.net.BindException: Address already in use
        at sun.nio.ch.Net.bind(Native Method)
        at sun.nio.ch.ServerSocketChannelImpl.bind(ServerSocketChannelImpl.java:119)
        at sun.nio.ch.ServerSocketAdaptor.bind(ServerSocketAdaptor.java:59)
        at org.eclipse.jetty.server.nio.SelectChannelConnector.open(SelectChannelConnector.jav

[2013-04-19 08:27] chunmingpoxiao commented on #82
@petterik   exec -a splunk-bucket-freezer $JAVA_HOME/bin/java -cp ./bin/_:./lib/_ com.splunk.shuttl.archiver.archive.BucketFreezer $index $bucket

$bucket   is what？？？

i don't know who to set it

[2013-04-19 17:41] petterik commented on #63
@chunmingpoxiao you have examples on how to configure shuttl here: https://github.com/splunk/splunk-shuttl/tree/master/examples

[2013-04-19 17:56] petterik commented on #82
@chunmingpoxiao Your "Error during startup" is because Splunk doesn't kill the Shuttl server. There will probably be a fix for this in a later Splunk upgrade.
A way around this is to just kill Shuttl, and it'll restart automatically.
1. Find the Shuttl process with `ps -ef | grep shuttl`
2. Kill the Shuttl process with `kill <pid>`, where <pid> is the process id of the Shuttl server.

The $bucket

[2013-04-20 02:02] chunmingpoxiao commented on #63
@petterik ![QQ 20130420095549](https://f.cloud.github.com/assets/4122556/404633/719195b8-a95d-11e2-845a-eefa0426c3ee.png)

file:index.conf
version:0.8.2
configure like this,,is right??
[summer_try]
 homePath   = $SPLUNK_HOME/var/lib/splunk/summer_try/db
 coldPath   = $SPLUNK_HOME/var/lib/splunk/summer_try/colddb
 thawedPath = $SPLUNK_HOME/var/lib/splunk/summer_try/thaweddb
 coldToFrozenScript = $S

[2013-04-22 05:34] chunmingpoxiao commented on #63
@petterik   all the buckets in the "safe-bucket" directory..
version:0.8.2

[2013-04-22 09:05] chunmingpoxiao commented on #82
@petterik
![1](https://f.cloud.github.com/assets/4122556/408288/9091a7e4-ab2b-11e2-91a6-4ad754cd9af8.jpg)
![2](https://f.cloud.github.com/assets/4122556/408289/91de22c6-ab2b-11e2-823d-4a598b3c596c.jpg)
i don't know why ..it can't connect to hadoop

[2013-04-22 19:26] petterik commented on #63
@chunmingpoxiao: It seems like you're using 0.6.1.1 in your screenshot of `cd bin/` `ll`: where I see shuttl-server-0.6.1.1.jar

Delete your $SPLUNK_HOME/etc/apps/shuttl and download the latest release from http://splunk-base.splunk.com/apps/58003/shuttl

Here's what my shuttl/bin directory looks like for 0.8.2:
![Screen Shot 2013-04-22 at 12 27 05 PM](https://f.cloud.github.com/assets/715415/4111

[2013-04-23 02:53] chunmingpoxiao commented on #63
@petterik    I can't download it ...

[2013-04-24 00:55] petterik commented on #63
@chunmingpoxiao: You need to create a splunkbase user before downloading anything from Splunkbase. If that doesn't work, then you can the latest version of shuttl by building it yourself:
1. Clone the shuttl git repository
2. Run `buildit.sh`
3. Extract `build/shuttl.tgz` to `$SPLUNK_HOME/etc/apps/`

[2013-04-24 01:36] chunmingpoxiao commented on #63
@petterik thanks ..

[2013-04-25 06:45] chunmingpoxiao commented on #128
@petterik can i set the field of the csv file.......you says:SpIF has the following fields:_time ,source ,host ,sourcetype,_raw,_meta .??...

[2013-04-26 01:41] chunmingpoxiao commented on #128
@petterik
![QQ 20130426093952](https://f.cloud.github.com/assets/4122556/428589/55aa3f58-ae12-11e2-86ea-93b7e719cba5.png)
what cause this error?

[2013-04-26 13:34] msnelling opened #129 "404 Errors"
I've just built Shuttl from tag v0.8.3.1 and deployed to my Splunk 5.0.2 server. I'm getting 404 errors on the 'Flush' and 'Thaw' screens.

The path '/splunk/en-GB/custom/shuttl/Archiving/show' was not found.
The path '/splunk/en-GB/custom/shuttl/Archiving/show_flush' was not found.

Also I'm archiving to S3 and that seems to be working as I can see the buckets appearing in the AWS S3 console, how

[2013-05-01 13:34] msnelling opened #130 "Enable Server-Side Encyption with S3"
This is desirable for financial services compliance reasons. See the link below for enabling SSE in the Java API.
http://docs.aws.amazon.com/AmazonS3/latest/dev/SSEUsingJavaSDK.html

[2013-05-01 22:56] petterik commented on #130
Shuttl is currently using Hadoop's S3 file system implementation, which doesn't support this. An S3 implementation of Shuttl's ArchiveFileSystem interface would have to be done, using AWS own SDK to support this.

I might do this, since it seems like most users of Shuttl use S3 and I'm not in control of what can be improved as long as I'm using Hadoop's implementation.

Keeping the issue open

[2013-05-01 23:23] petterik commented on #129
I'm not getting the error with the build from tag v0.8.3.1.

Did you restart Splunk after installing Shuttl? Even though Splunk doesn't say it needs a restart, it needs one, since the UI is build with custom python scripts and xml.
Also, make sure that shuttl/conf/splunk.xml is correct.

If it's still not working, try to see if you can find anything in either $SPLUNK_HOME/var/log/splunk/shuttl.log

[2013-05-02 14:01] msnelling commented on #129
This was after a fresh install of Shuttl, Splunk had been restarted but the indexes weren't yet configured for archiving.
Now that archiving has been set up and some buckets have been frozen to S3 the problem has gone away.

[2013-05-08 18:27] petterik commented on #63
@chunmingpoxiao: Please note that version 0.8.2 of Shuttl on Splunkbase was faulty. A new release 0.8.3.1 has been released on Splunkbase. You should download that instead.

I hope everything works out. Please contact me if you're still having problems.

[2013-05-08 18:30] petterik commented on #84
There's now a script configured in default/inputs.conf for retrying to archive all buckets in the safe-buckets directory.

[2013-05-08 18:30] #84 closed, assigned to nobody

[2013-05-08 18:32] petterik commented on #90
Not a good idea, since the server name can change and then the buckets in the archive wouldn't be visible for that server anymore.

[2013-05-08 18:32] #90 closed, assigned to nobody

[2013-05-08 18:33] #99 closed, assigned to nobody

[2013-05-08 18:37] #125 closed, assigned to nobody

[2013-07-30 01:33] milan-koudelka opened #131 "S3 adn shuttl not working on 5.0.3, JDK7 with search head pooling"
Hi,
I've tried to use it, but it's not working there are errors even when T'm running test script. Test script uploaded some files, but they aren't in correct path, they're in root folder.

My configuration:
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:archiverConf xmlns:ns2="com.splunk.shuttl.server.model">
    <localArchiverDir>file://mnt/tmp/shuttl_archiver</localArchiverDir>

[2013-07-30 02:25] petterik commented on #131
Even though you're getting those errors, it might still work. See why here: http://splunk-base.splunk.com/answers/85635/shuttl-archiving-errors/85832
In short, Shuttl is using the same libraries as Hadoop is using for S3, and they are out dated, but should be well tested. There's a patch to update the S3 library, but it's not in a release yet.

As for the buckets not being at the root, here's my g

[2013-07-30 02:35] milan-koudelka commented on #131
Hi Petter,
thank you for your fast response.
Data aren't really loaded to S3. Just from test, not from real process.
I can't try that through UI, because I have pure indexers without UI.

In this case. When I don't have UI on indexers, it will be probably better to use directly shell script with s3cmd command.

Best regards
Milan Koudelka

[2013-07-30 04:22] petterik commented on #131
You can control your indexers' Shuttl apps through your Search Head as long as you have the Shuttl app installed on all Splunk instances. All your commands run on your SH will be executed on your connected Search Peers/Indexers as well.

Otherwise, if you want to test Shuttl isolated on an indexer, you can call the Shuttl server's REST endpoints for thawing.
Example of calling Shuttl's thaw endpoi

[2013-07-30 04:57] milan-koudelka commented on #131
That's nice !
I've installed it also on search head. Both pages Thaw and Flush are showing 404.

The path '/en-US/custom/shuttl/Archiving/show' was not found.

There are few sucessfull Archived Buckets on main page. But all of them are from Testing script :-/

[2013-07-30 05:23] petterik commented on #131
1. The 404 error with "The path '/en-US/custom/shuttl/Archiving/show' was not found." is usually because the Splunk instance hasn't been restarted since Shuttl was installed to that instance. This is because Shuttl's custom UI requires a Splunk restart. So try that!
2. I suggest you try to Shuttl "real" buckets because to even make the buckets from the testing script to work, you need to configure

[2013-07-30 20:53] milan-koudelka commented on #131
Hi,
yes, sorry, I've restarted Splunk and these pages are accessible now. However in index field there is alway Loading.

I'm testing that on real index. I've didn't have maxWarmDBCount there, but I think that this wasn't important.

My current configuration is:

[code]

In log, there is still the same alert

[code]

And there aren't any new data on S3.

[2013-07-30 21:48] petterik commented on #131
The move that is failing is a normal java.io.File#rename(), which should be equal to a unix mv <from> <to>.
Since that's what's failing, can it have to do with permissions? I'm not sure why it should fail otherwise.

I'm not unsure why the index field is always Loading. Hopefully you can find something in the logs or through debugging the site in the browser.

[2013-08-06 02:44] camAtGitHub opened #132 "Local Storage ERRORS in logs but reports success in Splunk App"
Hello,

I have installed Shuttle 0.8.4 with Java JDK 7u25.
I have configured my main index for testing with local storage (Eventually to use with Gluster locally mounted)

While the Shuttle app reports x amount of buckets moved and the is data in the destination directory, shuttl.log and splunkd.log are getting flooded with ERRORS.

Eg. shuttl.log

`2013-08-05 22:37:15,125 INFO com.splunk.shuttl.a

[2013-08-06 04:25] camAtGitHub commented on #132
Hello,
Sorry this issue has been resolved. The issues were that parts of /opt/splunk resided on BTRFS filesystem. Once /opt/splunk got moved to a fully EXT4 filesystem that resolved the issues.

[2013-08-06 04:25] #132 closed, assigned to nobody

[2013-08-14 22:10] milan-koudelka commented on #131
Hi Petter,
i've tried to reinstall that at all. I've installed that through manager. So manager put that app to /mnt/shared_storage/etc/apps/shuttl. That's path for search head pooling shared storage.

I've configured just splunk.xml for start and tried to restart server.

There is still same issue that Flush and Thaw pages are still writing Loading in list of indexes.

And I can see these errors

[2013-08-15 10:15] msnelling opened #133 "Accessing frozen data in S3"
I'm using an s3 backend (not s3n) with an archive format of SPLUNK_BUCKET. When I try and view the data in S3 using a file transfer program such as DragonDisk or CyberDuck I see a lot of "block_123456789...." files in the root directory and a directory with a blank name which contains the archive_root/archive_data/... directory hierarchy.

Is it possible to perform operations on the buckets stored

[2013-08-15 22:34] petterik commented on #133
What do you mean by "perform operations on the buckets stored in S3 like this"? Your own operations, or Shuttl operations?
You cannot remove old unwanted buckets with Shuttl, but you can remove them yourself.
Shuttl doesn't store any data about the state of your system. It always uses "ls" to list your current state of your system. If you remove them or move them, it'll have no effect other than t

[2013-08-15 22:40] petterik commented on #131
I haven't seen the: `Incorrect path to script: /opt/splunk/etc/apps/shuttl/bin/coldToFrozenRetry.sh.  Script must be located inside $SPLUNK_HOME/bin/scripts.`.
I should fix that!
I think that I might assume that the app is installed at $SPLUNK_HOME/etc/apps/shuttl, somewhere. I should probably not assume that.

My suggestions are:
- Install Shuttl at `$SPLUNK_HOME/etc/apps/shuttl`
- Copy the scrip

[2013-08-16 00:07] milan-koudelka commented on #131
It's not possible to install that app to $SPLUNK_HOME/etc/apps/shuttl
If you are using search head pooling and mounted bundles, your apps in this paths are ignored are Splunk is using only apps on shared storage.
I've copied these files there. But there isn't any change even after restart.
The paths in inputs.conf was already as you wrote. I've change the path to the real location of application o

[2013-08-16 00:18] milan-koudelka commented on #131
With symlink, it has other errors :-)

<code>
08-16-2013 02:15:25.827 +0200 ERROR ExecProcessor - message from "/mnt/shared_storage/etc/apps/shuttl/bin/start.sh" 16.8.2013 2:15:25 com.sun.jersey.api.core.PackagesResourceConfig init
08-16-2013 02:15:25.827 +0200 ERROR ExecProcessor - message from "/mnt/shared_storage/etc/apps/shuttl/bin/start.sh" INFO: Scanning for root resource and provider classe

[2013-08-16 01:36] petterik commented on #131
I had no idea "search head pooling and mounted bundles" was a thing :)
I need to ask around how people deal with this. I can probably hit some splunk endpoint to figure out where the app lives. Thanks for finding this!
The fix shouldn't be too hard to fix, so expect it in a week or two. Remind me again if I haven't fixed it by then!

[2013-08-16 05:53] milan-koudelka commented on #131
Amazing. If you need some help with that, let me know. Maybe I can help you somehow. This is great app. I'm looking forward to use it.

[2013-08-16 18:52] bgsplunk opened #134 "Exceptions"
Hi,
I have configured shuttl on a standalone test indexer. I can see that the archive process is working and the data is being transferred to the local directory. However, I am encountering the following exception which is I think is occuring when the files are being transferred to S3. I've checked and made sure that the AWS ID/Secret Keys are valid. Any other places where I need to check?
Here is

[2013-08-17 01:56] bgsplunk commented on #134
Got bit by the / in the secret key. I thought this issue was fixed. Anyway I generated and used a secret key that did not have a / in it and I've gotten past this error but on to others (incremental progress :)

[2013-08-22 13:30] msnelling commented on #133
I'm trying to remove them myself in S3 but can't seem to work out what I should be deleting, the archive_root/archive_data/... directory or the block_123456789 files in the root of the bucket?

[2013-08-27 18:58] petterik commented on #134
@bgsplunk: indeed the / in the secret key should be fixed. Which version were you using? Do you happen to have the secret key that failed and could you give me it, slightly modified maybe? :)

[2013-08-27 19:16] petterik commented on #134
Seems like the slash (/) bug is about to be patched in hadoop: https://issues.apache.org/jira/browse/HADOOP-3733

[2013-08-27 23:18] bgsplunk commented on #134
/BXV0pME1Am0wBbxYDliHlNOWzN+cMKA5zVtDyiT

[2013-08-27 23:19] bgsplunk commented on #134
slightly modified but with the / intact

[2013-09-11 19:25] bgsplunk opened #136 "Errors"
I have had Shuttl running for a while on our staging servers and had been able to successfully archive/thaw and search the archived data. I have started to see the following messages. I am trying to load the Frozen buckets so that I could demo the functions and features of Shuttl and I am unable to do so. I get the ...Loading.. message in the place where the Indexes will be displayed when one trie

[2013-09-16 18:35] petterik commented on #136
You've gotten an unexpected response from one of the indexers, that I'm not handling when I try to create the a json response.

On your search head: Can you provide me with the full stack trace from the RequestOnSearchPeers exception?
On your failing indexer: You might/should have gotten an exception from one of your indexers conntected to your search head. Can you provide me the errors, if any?

[2013-09-17 22:43] petterik commented on #131
I'm looking in to this right now, @milan-koudelka.

To support search head pooling:
1. inputs.conf's scripts need to have the path "script://./bin/script.sh", without the $SPLUNK_HOME/etc/apps/<appname>
2. Figure out the best way to get where my app is installed. If I can't, I'll have to do something about the custom configuration that Shuttl has (for historical reasons).
That'll hopefully be it t

[2013-09-24 08:28] milan-koudelka commented on #131
Hi,
I thing that best way how to find the path of apps location is read this file

[root@splunk-sh:~] cat /opt/splunk/etc/system/local/distsearch.conf
#
http://docs.splunk.com/Documentation/Splunk/latest/Deploy/Mounttheknowledgebundle

[searchhead:splunk-sh]
mounted_bundles = true
bundles_location = /mnt/shared_storage/etc/

[2013-10-17 10:16] milan-koudelka commented on #131
Hi,
do you have any update on this ?

Best regards

[2013-10-18 18:18] petterik commented on #131
Yes!
I've updated the develop branch with fixes to search head pooling.
Would you like to try it out?

Clone the repository and run ./buildit.sh, then you'll have a build in ./build/shuttl.tgz

[2013-10-21 09:10] milan-koudelka commented on #131
Great, I will test it asap on my DEV environment.

[2013-10-21 14:04] bknowles commented on #131
Have you looked into using s3ql (see http://groups.google.com/group/s3ql) for the filesystem?  It's the best filesystem-on-s3 implementation that I've ever seen, and comes the closest to making it look like "just another" filesystem that is mounted.

The core of the code is still single-threaded, but I think that's true of a lot of filesystem code that is still in use today.

Just a thought.  Than

[2014-04-23 10:13] clagese opened #140 "Problems with archive path on S3"
I configured my cluster to archive frozen splunk data on s3 with shuttl. I installed Shuttl on all nodes. My data are really archived on s3 bucket but there is a problem with archiviation path. Any path values I set as "archivePath" in archiver.xml( <archivepath>/myrootpath</archivepath> or <archivepath>myrootpath</archivepath> or <archivepath></archivepath> or <archivepath>/</archivepath>), Shutt

[2014-05-15 09:19] clagese commented on #140
I found another problem with storage in S3. If I save frozen bucket in CSV format in S3 with Shuttl , stored files are not really in csv format and I cannot read them. I can only restore frozen bucket through shuttl and read data with splunk. I don't understand if this is a normal behavior.
I documented this problem in the splunk issue: http://answers.splunk.com/answers/131297/shuttl-development-s

[2017-04-12 22:38] rusher81572 opened #141 "Support S3-compatible object stores?"
Hello, I was wondering if you have plans to support S3-compatible object stores instead instead of only AWS?

[2019-07-10 11:36] #129 closed

[2019-07-10 11:36] #133 closed

[2019-07-10 11:37] #130 closed